<div class="row-fluid">
	<div class="position-relative">
		<div id="login-box" class="login-box visible widget-box no-border">
			<div class="widget-body">
				<div class="widget-main">
					<h4 class="header blue lighter bigger">
						<i class="icon-coffee green"></i>
						请输入您的登录信息({{.Next}})
					</h4>

					<div class="space-6"></div>

					<form method="post">
						<fieldset>
						{{if .Errors.msg}}
								<small class="text-error">{{.Errors.msg}}</small>
								{{end}}
							<label>
								<span class="block input-icon input-icon-right">
									<input type="text" class="span12" placeholder="用户名或邮箱" name="account" value="{{.Form.Account}}" />
									<i class="icon-user"></i>
								</span>
								{{if .Errors.account}}
								<small class="text-error">{{.Errors.account}}</small>
								{{end}}
							</label>

							<label>
								<span class="block input-icon input-icon-right">
									<input type="password" class="span12" placeholder="密码" name="password" />
									<i class="icon-lock"></i>
								</span>
								{{if .Errors.password}}
								<small class="text-error">{{.Errors.password}}</small>
								{{end}}
							</label>

							<div class="space"></div>

							<div class="clearfix">
								<label class="inline">
									<input type="checkbox" class="ace" name="remember_me" value="true" />
									<span class="lbl"> 记住我</span>
								</label>

								<button type="submit" class="width-35 pull-right btn btn-small btn-primary">
									<i class="icon-key"></i>
									登录
								</button>
							</div>

							<div class="space-4"></div>
						</fieldset>
					</form>

					<div class="social-or-login center">
						<span class="bigger-110">社交帐号登录</span>
					</div>

					<div class="social-login center">
						<a class="btn btn-primary">
							<i class="icon-facebook"></i>
						</a>

						<a class="btn btn-info">
							<i class="icon-twitter"></i>
						</a>

						<a class="btn btn-danger">
							<i class="icon-google-plus"></i>
						</a>
					</div>
				</div><!-- /widget-main -->

				<div class="toolbar clearfix">
					<div>
						<a href="#" onclick="show_box('forgot-box'); return false;" class="forgot-password-link">
							<i class="icon-arrow-left"></i>
							忘记密码?
						</a>
					</div>

					<div>
						<a href="/register" class="user-signup-link">
							注册一个新帐号
							<i class="icon-arrow-right"></i>
						</a>
					</div>
				</div>
			</div><!-- /widget-body -->
		</div><!-- /login-box -->


	</div><!-- /position-relative -->
</div>