<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>500 Error Page - MONS</title>

		<meta name="description" content="500 Error Page" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- basic styles -->

		<link href="/admin/css/bootstrap.min.css" rel="stylesheet" />
		<link href="/admin/css/bootstrap-responsive.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="/admin/css/font-awesome.min.css" />

		<!--[if IE 7]>
		  <link rel="stylesheet" href="/admin/css/font-awesome-ie7.min.css" />
		<![endif]-->

		<!-- page specific plugin styles -->

		<!-- fonts -->

		<link rel="stylesheet" href="/admin/css/ace-fonts.css" />

		<!-- ace styles -->

		<link rel="stylesheet" href="/admin/css/ace.min.css" />
		<link rel="stylesheet" href="/admin/css/ace-responsive.min.css" />
		<link rel="stylesheet" href="/admin/css/ace-skins.min.css" />

		<!--[if lte IE 8]>
		  <link rel="stylesheet" href="/admin/css/ace-ie.min.css" />
		<![endif]-->

		<!-- inline styles related to this page -->

		<!-- ace settings handler -->

		<script src="/admin/js/ace-extra.min.js"></script>
		<style type="text/css">
			.main-content{
				margin-left: 0px;
			}
		</style>
	</head>

	<body>


		<div class="main-container container-fluid">

			<div class="main-content">

				<div class="page-content">
					<div class="row-fluid">
						<div class="span12">
							<!-- PAGE CONTENT BEGINS -->

							<div class="error-container">
								<div class="well">
									<h1 class="grey lighter smaller">
										<span class="blue bigger-125">
											<i class="icon-random"></i>
											500
										</span>
										应用程序发生错误!
									</h1>

									<hr />
									<h3 class="lighter smaller">
										But we are working
										<i class="icon-wrench icon-animated-wrench bigger-125"></i>
										on it!
									</h3>

									<div class="space">
									</div>
									<div>
										<h3>{{.AppError}}</h3>
									</div>

									<div>
										<h4 class="lighter smaller">Meanwhile, try one of the following:</h4>

										<ul class="unstyled spaced inline bigger-110">
											<li>
												<i class="icon-hand-right blue"></i>
												Read the faq
											</li>

											<li>
												<i class="icon-hand-right blue"></i>
												Give us more info on how this specific error occurred!
											</li>
										</ul>
									</div>

									<hr />
									<div class="space"></div>

									<div class="row-fluid">
										<div class="center">
											<a href="#" class="btn btn-grey">
												<i class="icon-arrow-left"></i>
												上一页
											</a>

											<a href="/" class="btn btn-primary">
												<i class="icon-dashboard"></i>
												返回首页
											</a>
										</div>
									</div>
								</div>
							</div>

							<!-- PAGE CONTENT ENDS -->
						</div><!-- /.span -->
					</div><!-- /.row-fluid -->
				</div><!-- /.page-content -->

		
			</div><!-- /.main-content -->
		</div><!-- /.main-container -->

		<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-small btn-inverse">
			<i class="icon-double-angle-up icon-only bigger-110"></i>
		</a>

		<!-- basic scripts -->

		<!--[if !IE]> -->

		<script type="text/javascript">
			window.jQuery || document.write("<script src='/admin/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
		</script>

		<!-- <![endif]-->

		<!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='/admin/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
</script>
<![endif]-->

		<script type="text/javascript">
			if("ontouchend" in document) document.write("<script src='/admin/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
		<script src="/admin/js/bootstrap.min.js"></script>

		<!-- page specific plugin scripts -->

		<!-- ace scripts -->

		<script src="/admin/js/ace-elements.min.js"></script>
		<script src="/admin/js/ace.min.js"></script>

		<!-- inline scripts related to this page -->
	</body>
</html>
